/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #082f49;
    color: rgb(152, 33, 33);
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center; /* Center the navigation bar */
    background-color: #082f49;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav ul li, .gallery img {
    transition: transform 0.2s;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px; /* Add padding to create button-like appearance */
    border: 1px solid #8d8602; /* Add an outline to each navigation item */
    border-radius: 5px; /* Add rounded corners to the buttons */
}

nav ul li a:hover {
    background-color: #065a82; /* Darker shade for hover */
    color: #ffffff; /* Keep text color white */
    transform: scale(1.1); /* Slightly enlarge the link */
}

section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff1111;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border: 10px solid #ccc; /* Add a border around each image */
    margin: 5px; /* Add margin around each image for separation */
}

.gallery img:hover {
    transform: scale(1.05); /* Slightly enlarge the image */
    opacity: 0.8; /* Slightly reduce opacity to give a focus effect */
}


/* Update styling for the download button and image container */
.image-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px; /* Add margin between images */
}

.download-btn {
    position: absolute;
    bottom: -35px; /* Position the button at the bottom of the image container */
    left: 50%; /* Position the button at the horizontal center of the image container */
    transform: translateX(-50%); /* Center the button horizontally */
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}